# PyCharm specific
.idea/
.vscode/
.savoljavob
# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo
*.pyd

# Environment variables
.env

# Virtual environment
venv/
env/

# Logs & DB
*.log
*.sqlite3

# Django
settings_local.py
media/
staticfiles/
